@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.input {
  @apply w-full px-4 py-3 rounded-xl 
  bg-white/10 border border-white/20 
  text-gray-100 
  focus:outline-none focus:ring-2 focus:ring-indigo-500;
}

@keyframes modal-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: modal-in 0.2s ease-out;
}


/* Apply to ALL buttons */
button {
  @apply transition-transform duration-150 rounded-md;
}

/* Click / press effect */
button:active {
  transform: scale(0.95);
}